 <div class='grid-container' style="border: 2px solid rgba(0, 0, 255, 1);grid-template-columns: auto">
    {% if is_replying_answer %}
        <div class ='grid-item' style="text-align: left">
            {% if is_replying_answer in is_following_answer %}
            <p>{% include 'forms/follow_form.html' with model_name=is_replying_answer is_following=True count=is_replying_answer.followers.count false_button='Unlike' true_button='Like' url_name='followAnswer' button_color='btn-danger' %}</p>
            {% else %}
            <p>{% include 'forms/follow_form.html' with model_name=is_replying_answer is_following=False count=is_replying_answer.followers.count false_button='Unlike' true_button='Like' url_name='followAnswer' button_color='btn-danger' %}</p>
            {% endif %}
            <p> {% if is_replying_answer in answer_owner %}  <a href="{% url 'answerEdit' pk=is_replying_answer.pk %}" class="modal-update" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-default btn-sm"> edit </span> </a> | <a href="{% url 'answerDelete' pk=is_replying_answer.pk %}" class="modal-delete" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-danger btn-sm"> delete </span> </a> {% else %} from: <span class='btn btn-success btn-sm'> {{ is_replying_answer.owner }} </span> {% endif %} | <a href="{% url 'commentCreate' pk=is_replying_answer.pk %}" class="modal-create" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-primary btn-sm"> Comment </span> </a>
        </div>
        {% if is_viewing_comment %}
        {% for comm in is_viewing_comment %}
        {% if comm.owner in user.is_viewing_profile.all or user.profile.showAllUsers %}
        <div class='grid-item' style="text-align: left"> 
            {% if comm in is_following_comment %}
            <p>{% include 'forms/follow_form.html' with model_name=comm is_following=True count=comm.followers.count false_button='Unlike' true_button='Like' url_name='followComment' button_color='btn-primary' %}</p>
            {% else %}
            <p>{% include 'forms/follow_form.html' with model_name=comm is_following=False count=comm.followers.count false_button='Unlike' true_button='Like' url_name='followComment' button_color='btn-primary' %}</p>
            {% endif %}
            <p> {% if comm in comment_owner %} <a href="{% url 'commentEdit' pk=comm.pk %}" class="modal-update" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-default btn-sm"> edit </span> </a> | <a href="{% url 'commentDelete' pk=comm.pk %}" class="modal-delete" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-danger btn-sm"> delete </span> </a> {% else %} from: <span class='btn btn-success btn-sm'> {{ comm.owner }} </span> {% endif %}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class='lead'>No Comments Found</p>
        {% endif %}   
{% else %}
<p class='lead'>Reply to an answer...</p>
{% endif %}
    </div>