{% if request.user.is_authenticated %}
<form class='form' method='POST' action='{% url "followR" %}'> {% csrf_token %}
<input type='hidden' name='answer' value='{{ answer }}'/>
<p> {% if answer in owner %}  <a href="{% url 'answerEdit' pk=answer.pk %}" class="modal-update" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-default btn-sm"> edit </span> </a> | <a href="{% url 'answerDelete' pk=answer.pk %}" class="modal-delete" data-modal-head="" data-modal-callback="reload"> <span class ="btn btn-danger btn-sm"> delete </span> </a> {% else %} from: <span class='btn btn-success btn-sm'> {{ answer.owner }} </span> {% endif %} | <button class='btn {% if is_following2 %}btn-default{% else %}btn-primary{% endif %} btn-sm'>{% if is_following2 %}Viewing...{% else %}Reply{% endif %}</button> </p>
</form>
{% endif %}