{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}

{% include 'snippets/search-bar.html' %}
<div class="row text-center">
<a href="{% url 'topicCreate' %}" class="modal-create" data-modal-head="" data-modal-callback="reload"><span class="btn btn-danger btn-sm">create a topic</span></a></div>

<hr/>
{% if topics %}
    <div class='grid-container' style="border: 2px solid rgba(255, 0, 0, 1)">
        {% for top in topics %}
        <div class='grid-item'> 
            {% if top in is_following_topic %}
            <p>{% include 'forms/follow_form.html' with model_name=top is_following=True false_button='Unfollow' true_button='Follow' url_name='followTopic' button_color='btn-danger' %}</p>
            {% else %}
            <p>{% include 'forms/follow_form.html' with model_name=top is_following=False false_button='Unfollow' true_button='Follow' url_name='followTopic' button_color='btn-danger' %}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% else %}
<p class='lead'>No Topics Found</p>
{% endif %}

{% endblock %}