{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_title %}{{ username }}{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'snippets/nav.html' %}

{% if user.profile.activated or request.user.is_anonymous %}
{% block content %}{% endblock content %}
{% else %}
<p> please use activation link sent to user.email </p>
{% endif %}
{% include "modal/modal.html" %}

{% include 'snippets/js.html' %}

<script src="{% static 'modal/js/modal.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $.modal({debug: false});
    });
</script>

</body>
</html>