{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}

{% include 'questions/snippet/question-list.html' with url_name='followQuestionFeedback' %}

<hr/>

{% include 'snippets/search-bar.html' %}
<hr/>

<div class='grid-container' style="border: 2px solid rgba(255, 255, 255, 1); grid-template-columns: 2fr 5fr 5fr">

{% include 'profiles/snippet/profile-filter.html' %}

{% include 'feedback/snippet/answer-list.html' %}

{% include 'feedback/snippet/comment-list.html' %}

</div>

{% endblock %}